body {
  background-image: url(https://krot.info/uploads/posts/2021-02/1613680283_17-p-fon-yasnoe-nebo-19.jpg);
  background-size: cover;
}
.body-wrap {
  padding-top: 40px;
  padding-bottom: 0px;
}
.search-tab {
  max-width: 700px;
  margin: 0 auto;
}
button.search-button,
button.current-button {
  background-color: rgba(121, 59, 255, 0.5);
}

div.card-box {
  border: 1px solid white;
  border-radius: 8px;
  padding: 10px 30px 30px 60px;
  margin: 0 auto;
  max-width: 700px;
  background-color: rgba(168, 201, 248, 0.5);
}
h1 {
  font-size: 60px;
  font-weight: 100;
  color: white;
  margin-bottom: 0;
  text-transform: capitalize;
}
p.current-date {
  font-weight: lighter;
  font-size: 20px;
  color: white;
  margin-bottom: 0;
}
.current-temp {
  font-size: 50px;
  font-weight: 100;
  color: white;
}




#line {
  color: white;
  font-size: 28px;
  position: relative;
  bottom: 24px;
}
h4.day-temp {
  font-weight: lighter;
  color: white;
}
.icon {
  width: 100px;
  margin-bottom: 30px;
  position: relative;
 
}
ul {
  margin-bottom: 25px;
  padding-left: 2px;
}
li.icon-text {
  color: white;
  font-weight: lighter;
  font-size: 20px;
  list-style: none;
  text-transform: capitalize;
}
.main-card {
  background-color: rgba(0, 0, 0, 0.5);
}
.forecast-info {
  font-weight: 300;
  font-style: oblique;
  color: white;
  margin-bottom: 24px;
}


.footer {
  font-family: "PT Mono", monospace;
  color: rgb(17, 17, 17);
  text-align: center;
  font-size: 14px;
  font-weight: lighter;
  padding-top: 26px;
}
.link-github,
.link-netlify {
  text-decoration: none;
  color: #ffffff;
}
.link-github:hover {
  color: black;
}
.link-netlify:hover {
  color: black;
}
.footer-icons {
  text-align: center;
  font-size: 20px;
}

.inst-icon:hover,
.fb-icon:hover,
.lnk-icon:hover {
  color: #e1feff;
  cursor: pointer;
}
.inst-link,
.fb-link,
.lnk-link {
  text-decoration: none;
  color: black;
}
.inst-link {
  position: relative;
  right: 20px;
}
.lnk-link {
  position: relative;
  left: 20px;
}
@media (max-width: 600px) {
  h1 {
    text-align: center;
  }
  div.card-box {
    padding: 10px 20px 20px 10px;
  }
  .current-temp {
    font-size: 60px;
    padding-left: 17px;
    padding-top: 116px;
  }
  .fahrenheit-link,
  #line {
    display: none;
  }
  h4.day-temp,
  .forecast-info {
    padding-left: 17px;
  }
  #icon {
    position: relative;
    left: 40px;
  }
}
